@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

 
/*
.navbar-brand {
	font-size: 3rem;
}
*/
 

h1 {
	padding-top: 25px;
}


.search-area {
	padding-top: 50px;
}

.no-right-padding {
	padding-right: 0 !important;
}

.no-left-padding {
	padding-left: 0 !important;
}

.results-block {
	display: inline-block;
	margin-bottom: 1rem;
}

.logout-button {
	margin-right: 5px;
}

#align-button {
	text-align: center;
	vertical-align: center;
}

.user-name {
	margin-top: 0.7%;
	padding-right: 8px;
	font-size: 1.3em;
	text-align: center;
	color: white;
}



